*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(../img/new-picture.avif);
    background-position: center;
    background-size: cover;
}

.container {
    width: 600px;
    height: 400px;
    margin-top: 80px;
}

.heading {
    font-size: 18px;
    border: 3px solid #fff;
    background-color: #262626;
    color: #fff;
    padding: 15px 30px;
    margin-bottom: 12px;
    border-radius: 12px;
}

.main-area {
    background-color: #fff;
    padding: 40px 40px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px;
}

.text-area {
    font-size: 16px;
    padding-bottom: 12px;
}

.person {
    text-transform: uppercase;
    font-weight: 700;
    color: #262626;
    font-size: 18px;
    padding-bottom: 12px;
}

.button-area button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-area button:hover {
    background-color: rgb(108, 108, 108);
}

.button-area button:active {
    background-color: #3c3c3c;
}

